#output {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  font-size: 1.2em;
  background-color: #c7c4c4;
  text-align: center;
  position: relative;  
}
h1 {
  padding-top: 20px;
}

cite {
  position: absolute;
  right: 10px;
  font-size: 1.5em;
}

#getquote{
  width: 200px;
  height: 50px;
  display: block;
  margin: 10px auto;
  font-size: 1.5em;
  background-color: #3f8b42;
  box-shadow: 2px 2px 5px #555;
}